$color_1: #FFF;
$color_2: #CCC;
$color_3: #333;
$color_4: #BDBDBD;
$color_5: #F3F3F3;
$color_6: inherit;
$color_7: #a7afbd;
$color_8: #fff;
$color_9: #a0a4a9;
$color_10: #d3d7df;
$color_11: #ffb324;
$color_12: #848484;
$color_13: #888888;
$color_14: #6f6f6f;
$color_15: #222;
$color_16: #000;
$color_17: #222222;
$color_18: #555;
$color_19: #0F172A;
$color_20: #888;
$color_21: #aaaaaa;
$color_22: #F52225;
$color_23: #3A00FF;
$color_24: #bab6b6;
$color_25: rgba(181,181,181,1.00);
$font-family_1: "Poppins";
$font-family_2: "xcon";
$font-family_3: Arial,Baskerville,monospace;
$background-color_1: transparent;
$background-color_2: #000;
$background-color_3: #1d1b1b;
$background-color_4: #494b50;
$background-color_5: #5c5d64;
$background-color_6: #34353a;
$background-color_7: rgba(255,255,255,.03);
$background-color_8: #ffb324;
$background-color_9: #5b5c64;
$background-color_10: #3a3934;
$background-color_11: rgba(255,255,255,.05);
$background-color_12: #fff;
$background-color_13: rgba(255,255,255,.1);
$background-color_14: #999;
$background-color_15: #999999;
$background-color_16: #777;
$background-color_17: #ddd;
$background-color_18: #f1faff;
$background-color_19: rgba(0,0,0,.03);
$background-color_20: rgba(255,69,27,.72);
$background-color_21: rgba(0,0,0,.8);
$background-color_22: #dfe2e7;
$background-color_23: #fff6f1;
$background-color_24: #fe451b;
$background-color_25: #ff6e4d;
$background-color_26: #fef5f1;
$background-color_27: rgba(0,0,0,.18);
$background-color_28: #DD4242;
$background-color_29: #feb224;
$background-color_30: #e7e7e7;
$background-color_31: #D7D7D7;
$background-color_32: rgba(26,48,86,.82);
$border-color_1: #ccc;
$border-color_2: #1d1b1b;
$border-color_3: #5c5d64;
$border-color_4: #777a7f;
$border-color_5: #494b50;
$border-color_6: transparent transparent transparent #fff;
$border-bottom-color_1: rgba(255,255,255,.05);

